.weather {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}

.main-icon {
  width: 100px;
}
.main-temp {
  display: flex;
  justify-content: start;
  align-items: center;
}
.brief {
  margin: 15px 0;
}
.date-and-desc {
  padding-left: 0;
  font-weight: 600;
}
.degree{
  margin-left: 15px;
  font-size: 4rem;
  font-weight: 600;
}
.celsius{
  position: relative;
  top: -12px;
  font-weight: 500;
}
.humidity-wind{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
